<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск по городам</title>
</head>
<body>
    <h1>Введите названия двух городов</h1>
    <form action="/weather_by_cities" method="POST">
        <label for="city1">Город 1:</label>
        <input type="text" id="city1" name="city1" required><br><br>
        <label for="city2">Город 2:</label>
        <input type="text" id="city2" name="city2" required><br><br>
        <input type="submit" value="Проверить погоду">
    </form>
</body>
</html>
